<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Take a picture once a day of you doing the prompt."/>
    <title>Document</title>
  </head>
  <body>
    <div class="bodyWrapper">
      <div class="bodyContainer">
        <nav>
          <a href="/"><strong data-language-key="doReal">DoReal</strong></a>
          <a href="/users/login" data-language-key="login">Login</a>
          <a href="/users/register" data-language-key="register">Register</a>
        </nav>
        <div class="contentContainer">
          {{{body}}}
        </div>
      </div>
    </div>
    <link href="/style.css" rel="stylesheet" />
  </body>
  <script src="http://localhost:8080/js/main.mjs" type="module"></script>
</html>