<main>
  <h1>Hello {{user.username}}</h1>
    <div class="uploadPostContainer">
        <label for="postText">Text</label>
        <input type="text" name="postText" required>
        <button type="submit" class="submitButton" data-post-url="/post/upload">Upload post</button>
    </div>

  <div class="postContainer">
    {{#each posts}}
      <div class="post">
        <h2>{{name}}</h2>
        <span>{{description}}</span>
      </div>
    {{/each}}

    <span>End of posts</span><br>
    <button id="logoutBtn" data-post-url="/users/logout" data-btn-action="logout">Log out</button>
  </div>
</main>