<main>
  <h1>Dashboard</h1>

  <div class="postContainer">
    {{#each posts}}
      <div class="post">
        <h2>{{name}}</h2>
        <span>{{description}}</span>
      </div>
    {{/each}}

    <span>End of posts</span>
  </div>
</main>