<main>
  <h1 class="sidePadding" data-language-key="doReal">DoReal</h1>
  <div class="topPadding sidePadding">
    <p data-language-key="introParagraph">Do the prompt idiot.</p>
  </div>
  <br />
  <a href="/users/register" class="sidepadding" data-language-key="createUser">Create user</a>
</main>