<main>
    <h1 class="sidePadding" data-language-key="login">Login</h1>

    <form action="/users/login" method="POST" class="form topPadding bg">
      <div class="inputContainer">
        <label for="email" data-language-key="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>

      <div class="inputContainer">
        <label for="password" data-language-key="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>

      <button
        type="submit"
        class="submitButton"
        data-btn-action="userLogin"
        data-language-key="login"
      >Login</button>
    </form>

    <span class="topPadding sidePadding" data-language-key="noUser">No user?</span><a href="/users/register" data-language-key="createUser">Create user</a>
</main>